#apps-pagination {
    position: fixed;
    width: 100%;
    left: 0;
}

.c-pagination__container {
    position: sticky;
    bottom: 0;
    padding-left: 50%;
}

.c-pagination__list {
    list-style-type: none;
    text-align: center;
    transform: translateX(-50%);
    padding-inline-start: 0;
}

.c-pagination__link {
    display: inline-block;
    cursor: pointer;
    padding: .5rem;
    border: solid .01rem var(--boldedSilver);
    user-select: none;
}

.c-pagination__link:hover {
    background:  var(--scienceBlue);
    border: solid .01rem var(--scienceBlue);
}

.c-pagination__link--selected {
    font-weight: bold;
    cursor: pointer;
    padding: .4rem .5rem;
    color: var(--scienceBlue);
    background:  var(--white);
    display: inline-block;
    border: solid .2rem var(--scienceBlue);
}

.c-pagination__link--disabled {
    display: inline-block;
    opacity: 0.2;
    cursor: default;
    padding: .5rem;
    border: solid 1px var(--silver);
}
