@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.c-installation-preview {
    --size: 5rem;
    --bg: var(--lightBlue);
    --pos: 1rem;
    position: fixed;
    bottom: var(--pos);
    right: var(--pos);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(
            var(--green) calc(var(--percentDone) * 1%), 
            var(--orange) calc(var(--percentDone) * 1%) calc(var(--percentWait) * 2%), 
            var(--bg) 0
        )
    ;
    font-size: calc(var(--size) / 5);
    cursor: pointer;
}

.c-installation-preview__app-finished {
    color: var(--green);
}

.c-installation-preview__all-app {
    color: var(--boldedSilver);
}

#c-app__installation-sidebar {
    position: fixed;
    top: 0;
    right: -.5rem;
    width: calc(30vw - 1rem);
    height: 100vh;
    background-color: var(--silver);
    padding: .5rem;
}

.c-app__installation-card:before {
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    position: absolute;
    margin-top: .3rem;
}

.c-app__installation-card--wait:before {
    background-color: var(--lightBlue);
}

.c-app__installation-card--pending:before {
    background-color: var(--orange);
}

.c-app__installation-card--done:before {
    background-color: var(--green);
}

.c-app__installation-subtitle {
    margin-left: 1.5rem;
    margin-bottom: 0;
    font-size: 1.4rem;
}

.c-app__installation-subtitle:after {
    content: " :";
}

.c-app__installation-state {
    margin-left: 1rem;
    padding: .5rem;
    padding-left: 1rem;
}

.c-app__installation-state:before {
    width: 1rem;
    height: 1rem;
    content: "";
    border-left: solid 1px var(--boldedSilver);
    border-bottom: solid 1px var(--boldedSilver);
    display: inline-block;
    position: absolute;
    margin-left: -1.5rem;
    margin-top: -0.5rem;
}

.c-app__installation--install-note {
    color: var(--green);
}

.c-app__installation--update-note {
    color: var(--orange);
}

.c-app__installation--delete-note {
    color: var(--red);
}

.reduce__installation {
    width: 70%;
}

.c-pagination__container.c-pagination__container--reduce {
    padding-left: 35%;
}
