 html[data-theme="light"] {
  --colors-text-default: var(--colors-neutral-neutral-9);
  --colors-background-default: var(--colors-neutral-neutral-1);
  --colors-background-alt-brand: var(--colors-han-blue-han-blue-1);
  --colors-background-contrast: var(--colors-neutral-neutral-5);
  --colors-text-title: var(--colors-neutral-neutral-13);
  --colors-text-title-brand: var(--colors-han-blue-han-blue-7);
  --colors-text-mention: var(--colors-neutral-neutral-7);
  --colors-text-action-high: var(--colors-neutral-neutral-10);
  --colors-text-action-high-brand: var(--colors-han-blue-han-blue-6);
  --colors-text-active: var(--colors-neutral-neutral-10);
  --colors-text-active-brand: var(--colors-han-blue-han-blue-7);
  --colors-text-disabled: var(--colors-neutral-neutral-7);
  --colors-text-error: var(--colors-watermelon-red-watermelon-red-7);
  --colors-text-success: var(--colors-apple-apple-7);
  --colors-text-inverted: var(--colors-neutral-neutral-1);
  --colors-text-inverted-brand: var(--colors-han-blue-han-blue-1);
  --colors-border-default: var(--colors-neutral-neutral-5);
  --colors-background-action-high: var(--colors-han-blue-han-blue-6);
  --colors-background-action-low: var(--colors-han-blue-han-blue-2);
  --colors-background-active: var(--colors-han-blue-han-blue-6);
  --colors-background-alt: var(--colors-neutral-neutral-3);
  --colors-background-disabled: var(--colors-neutral-neutral-6);
  --colors-background-error: var(--colors-watermelon-red-watermelon-red-7);
  --colors-background-warning: var(--colors-jasper-orange-jasper-orange-7);
  --colors-background-success: var(--colors-apple-apple-7);
  --colors-background-info: var(--colors-celestial-blue-celestial-blue-7);
  --colors-text-warning: var(--colors-jasper-orange-jasper-orange-7);
  --colors-text-info: var(--colors-celestial-blue-celestial-blue-7);
  --colors-border-default-brand: var(--colors-han-blue-han-blue-3);
  --colors-border-action-high: var(--colors-neutral-neutral-10);
  --colors-border-action-high-brand: var(--colors-han-blue-han-blue-6);
  --colors-border-active-brand: var(--colors-han-blue-han-blue-6);
  --colors-border-disabled: var(--colors-neutral-neutral-6);
  --colors-border-error: var(--colors-watermelon-red-watermelon-red-7);
  --colors-border-warning: var(--colors-jasper-orange-jasper-orange-7);
  --colors-border-success: var(--colors-apple-apple-7);
  --colors-border-info: var(--colors-celestial-blue-celestial-blue-7);
  --colors-background-inverted: var(--colors-neutral-neutral-12);
  --colors-category-all-normal: var(--colors-han-blue-han-blue-2);
  --colors-category-all-low: var(--colors-han-blue-han-blue-1);
  --colors-category-french-normal: var(--colors-lavender-indigo-lavender-indigo-4);
  --colors-category-french-low2: var(--colors-lavender-indigo-lavender-indigo-8);
  --colors-category-french-low1: var(--colors-lavender-indigo-lavender-indigo-6);
  --colors-category-french-high1: var(--colors-lavender-indigo-lavender-indigo-2);
  --colors-category-french-high2: var(--colors-lavender-indigo-lavender-indigo-1);
  --colors-category-mathematics-low2: var(--colors-verdigris-verdigris-8);
  --colors-category-mathematics-low1: var(--colors-verdigris-verdigris-6);
  --colors-category-mathematics-normal: var(--colors-verdigris-verdigris-4);
  --colors-category-mathematics-high1: var(--colors-verdigris-verdigris-2);
  --colors-category-mathematics-high2: var(--colors-verdigris-verdigris-1);
  --colors-category-artistic-low2: var(--colors-maize-maize-8);
  --colors-category-artistic-low1: var(--colors-maize-maize-6);
  --colors-category-artistic-normal: var(--colors-maize-maize-4);
  --colors-category-artistic-high1: var(--colors-maize-maize-2);
  --colors-category-artistic-high2: var(--colors-maize-maize-1);
  --colors-category-games-low2: var(--colors-cedar-chest-cedar-chest-8);
  --colors-category-games-low1: var(--colors-cedar-chest-cedar-chest-6);
  --colors-category-games-normal: var(--colors-cedar-chest-cedar-chest-4);
  --colors-category-games-high1: var(--colors-cedar-chest-cedar-chest-2);
  --colors-category-games-high2: var(--colors-cedar-chest-cedar-chest-1);
  --colors-category-world-low2: var(--colors-june-bud-june-bud-8);
  --colors-category-world-low1: var(--colors-june-bud-june-bud-6);
  --colors-category-world-normal: var(--colors-june-bud-june-bud-4);
  --colors-category-world-high1: var(--colors-june-bud-june-bud-2);
  --colors-category-world-high2: var(--colors-june-bud-june-bud-1);
  --colors-category-languages-low2: var(--colors-mint-mint-8);
  --colors-category-languages-low1: var(--colors-mint-mint-6);
  --colors-category-languages-normal: var(--colors-mint-mint-4);
  --colors-category-languages-high1: var(--colors-mint-mint-2);
  --colors-category-languages-high2: var(--colors-mint-mint-1);
  --colors-category-emc-low2: var(--colors-jasper-orange-jasper-orange-8);
  --colors-category-emc-low1: var(--colors-jasper-orange-jasper-orange-6);
  --colors-category-emc-normal: var(--colors-jasper-orange-jasper-orange-4);
  --colors-category-emc-high1: var(--colors-jasper-orange-jasper-orange-2);
  --colors-category-emc-high2: var(--colors-jasper-orange-jasper-orange-1);
  --colors-category-accessories-low2: var(--colors-mulberry-mulberry-8);
  --colors-category-accessories-low1: var(--colors-mulberry-mulberry-6);
  --colors-category-accessories-normal: var(--colors-mulberry-mulberry-4);
  --colors-category-accessories-high1: var(--colors-mulberry-mulberry-2);
  --colors-category-accessories-high2: var(--colors-mulberry-mulberry-1);
  --colors-category-sciences-low2: var(--colors-sandstorm-sandstorm-8);
  --colors-category-sciences-low1: var(--colors-sandstorm-sandstorm-6);
  --colors-category-sciences-normal: var(--colors-sandstorm-sandstorm-4);
  --colors-category-sciences-high1: var(--colors-sandstorm-sandstorm-2);
  --colors-category-sciences-high2: var(--colors-sandstorm-sandstorm-1);
  --colors-sous-category-all-low-ratio: 0.7;
  --colors-border-active: var(--colors-neutral-neutral-10);
  --colors-border-hover: var(--colors-neutral-neutral-7);
  --colors-background-hover: var(--colors-han-blue-han-blue-8);
  --colors-background-cliqued: var(--colors-han-blue-han-blue-9);
  --colors-background-hover-alt: var(--colors-han-blue-han-blue-2);
  --colors-background-cliqued-alt: var(--colors-han-blue-han-blue-3);
  --colors-border-hover-brand: var(--colors-han-blue-han-blue-5);
}
