:root {
    --dark-blue: #262E42;
    --green: #8BA94A;
    --white: #FBFBFB;

    --round: 50%;

    --body-vertical-padding: var(--spacing-3x);

    --widget-animation: .5s;
}

@media (min-width: 744px) {
    :root {
        --body-vertical-padding: var(--spacing-7x);
    }
}

