:root {
    --bgSilver: #fafafa;
    --paleGrey: #f5f6f7;
    --silver: #d6d8da;
    --boldedSilver: #566579;
    --scienceBlue: #0b61d6;
    
    --blue: #039be5;
    --green: #689f38;
    --orange: #ff6d00;
    --red: #f44336;

    --lightBlue: #03a9f4;
    --lightGreen: #8bc34a;
    --lightOrange: #ff9100;
    --lightRed: #ef5350;
}

@font-face {
    font-family: Luciole;
    src: url("../fonts/Luciole-Regular.ttf") format("truetype"),
         url("../fonts/Luciole-Regular.woff2") format("woff");
    font-style: normal;
    font-display: block;
}

*,:after,:before {
    border: 0 solid var(--colors-background-default);
}

body {
    font-family: Luciole;
    overflow-x: hidden;
    padding: 0 var(--body-vertical-padding);
    margin: 0;
    color: var(--colors-text-title);
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

body.index #top-bar {
    position: fixed;
    width: calc(100vw - 2 *var(--body-vertical-padding));
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: var(--spacing-3x) 0;
}

#top-bar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.label--decoration:after {
    content: " :";
}

.session-choice {
    flex-grow: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--spacing-4x);
}

.session-choice-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.session-choice-card a {
    text-decoration: none;
}

.session-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.session-link--sm {
    border-radius: var(--radius-sm);
    overflow: hidden;
    border: var(--spacing-0-25x) solid var(--colors-background-default);
}

.button {
    text-decoration: none;
    color: var(--colors-text-inverted);
    border: var(--spacing-0-25x) solid transparent;
    border-radius: var(--radius-sm);
    box-sizing: content-box;
}

html[data-theme="dark"] .light-switch {
    display: none !important;
}

html[data-theme="light"] .dark-switch {
    display: none !important;
}

.button-label-padding {
    padding: 0 var(--spacing-2x) 0 var(--spacing-1-5x);
}

.button svg g path {
    fill: var(--colors-text-inverted-brand);
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1x);
    height: var(--spacing-5x);
    padding: 0 var(--spacing-2x) 0 var(--spacing-1-5x);
    border: var(--spacing-0-25x) solid var(--colors-border-action-high-brand);
    border-radius: var(--radius-sm);
    background-color: var(--colors-background-action-high);
    box-sizing: content-box;
}

.button:focus, .button.button--tertiary:focus {
    border: var(--spacing-0-25x) dashed var(--colors-border-hover-brand);
    outline: none;
}

.button:hover, .button.button--tertiary:hover {
    border: var(--spacing-0-25x) solid transparent;
}

.button:hover .button-content {
    background-color: var(--colors-background-hover);
    border-color: var(--colors-background-hover);
}

.button:active .button-content {
    background-color: var(--colors-background-cliqued);
    border-color: var(--colors-background-cliqued);
}

.button.button--secondary .button-content {
    color: var(--colors-text-action-high-brand);
    background-color: var(--colors-background-alt-brand);
}

.button.button--secondary:hover .button-content {
    background-color: var(--colors-background-hover-alt);
    border-color: var(--colors-border-action-high-brand);
}

.button.button--secondary:active .button-content {
    background-color: var(--colors-background-cliqued-alt);
}

.button.button--secondary svg g path {
    fill: var(--colors-text-action-high-brand);
}

.button.button--tertiary {
    border-color: transparent;
}

.button.button--tertiary .button-content {
    border: none;
    color: var(--colors-text-action-high-brand);
    background-color: var(--colors-background-default);
    padding: 0 var(--spacing-1x);
}

.button.button--tertiary:hover .button-content {
    background-color: var(--colors-background-hover-alt);
    border-color: var(--colors-border-action-high-brand);
}

.button.button--tertiary:active .button-content {
    background-color: var(--colors-background-cliqued-alt);
}

.button.button--tertiary svg g path {
    fill: var(--colors-text-action-high-brand);
}

.button.button--alt .button-content {
    background: var(--colors-background-default);
    border-color: var(--colors-border-action-high);
    padding: 0 var(--spacing-1x);
}

.button.button--alt:hover .button-content {
    background-color: var(--colors-background-hover-alt);
    border-color: var(--colors-border-action-high);
}

.button.button--alt:active .button-content {
    background-color: var(--colors-background-cliqued-alt);
    border-color: var(--colors-border-action-high);
}

.button.button--alt svg g path {
    fill: var(--colors-text-action-high);
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button .button-label {
    font-size: var(--spacing-2x);
}

.menu__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: var(--spacing-7x);
    height: var(--spacing-7x);
    margin-right: var(--spacing-1x);
    background-color: var(--colors-background-alt-brand);
    border-radius: var(--spacing-3x);
    border: var(--spacing-0-5x) solid var(--colors-background-default);
    overflow: hidden;
}

.menu__icon--hug {
    height: 12.5rem;
    width: 12.5rem;
    margin: 0 var(--spacing-4x);
}

.menu__icon--sm {
    height: var(--spacing-5x);
    width: var(--spacing-5x);
    margin: 0;
    border: 0;
    border-radius: var(--radius-sm); 
}

.menu__icon--sm img {
    width: 100%;
}

.menu__icon-label {
    color: var(--colors-text-action-high-brand);
    font-size: var(--spacing-3x);
    padding: var(--spacing-2x) var(--spacing-3x);
}

.menu__icon-label--hug {
    border-radius: 0 0 var(--spacing-4x) var(--spacing-4x);
}

.menu__icon-label--sm {
    font-size: var(--spacing-2x);
    padding: var(--spacing-1x) var(--spacing-1-5x);
    line-height: var(--spacing-3x);
}

.session-link:focus {
    outline: none;
}

.session-link:focus .menu__icon--hug {
    border-color: var(--colors-background-hover);
    border-style: dashed;
}

.session-link:hover .menu__icon--hug {
    border-color: var(--colors-background-hover);
    border-style: solid;
}

.session-link:hover .menu__icon-label--hug {
    color: var(--colors-text-inverted-brand);
    background-color: var(--colors-background-hover);
}

.session-link--sm:focus {
    border: var(--spacing-0-25x) dashed var(--colors-border-hover-brand);
}

.session-link--sm:hover {
    background-color: var(--colors-background-hover-alt);
    border: var(--spacing-0-25x) solid var(--colors-background-default);
}

.session-link:active .menu__icon--hug {
    border-color: var(--colors-background-cliqued);
    border-style: solid;
}

.session-link:active .menu__icon-label--hug {
    background-color: var(--colors-background-cliqued);
}

.session-link--sm:active {
    background-color: var(--colors-background-cliqued-alt);
}

.c-app__container {
    margin: var(--spacing-9x);
}

.apps__container {
    display: flex;
    gap: var(--spacing-8x) var(--spacing-12x);
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}

.apps {
    position: relative;
    min-height: 60vh;
}

.apps__results {
    margin-top: -2rem;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: bold;
    z-index: -1;
}

.app__element {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--spacing-12x);
}

.app__input {
    appearance: none;
}

.app__element:hover {
    cursor: pointer;
}

.app__name {
    margin-top: var(--spacing-1x);
    color: var(--colors-text-default);
    width: 10rem; 
    text-align: center;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-details__title {
    margin: .5rem;
    vertical-align: middle;
    line-height: 48px;
    display: inline-flex;
}

.app-details__text-title {
    padding: 0 0.5rem;
}

.app__img {
    width: var(--spacing-12x);
    height: var(--spacing-12x);
    background-color: var(--colors-background-alt);
    padding: var(--spacing-2x);
    border-radius: var(--radius-md);
    box-sizing: border-box;
    border: var(--spacing-0-25x) solid transparent;
}

.app__input:focus + .app__img {
    border: dashed var(--colors-border-active);
}

.app__input:hover + .app__img {
    border: solid var(--colors-border-hover);
}

.app__input:active + .app__img {
    border: solid var(--colors-border-active);
}

.app-details__img {
    height: 48px;
    vertical-align: bottom;
}

.app-details__description,
.app-details__license-container,
.app-details__link-container {
    padding: .5rem 0;
}

.app__is-installed {
    padding: .5rem;
    position: absolute;
    right: 0;
    bottom: .2rem;
}

.app__is-installed:after {
    content: "\2714";
    color: #009688;
}

#back-to-sessions.hidden {
    display: none;
}

#back-to-sessions {
    z-index: 999;
}

#back-to-sessions .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#back-to-sessions .dialog {
    position: absolute;
    top: calc(var(--spacing-5x) + var(--spacing-0-75x));
    left: 0;

    display: flex;
    padding: var(--spacing-3x);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2x);
    width: fit-content;

    color: var(--colors-text-default);
    font-size: var(--spacing-2x);
    border-radius: var(--radius-sm);
    background: var(--colors-background-alt-brand);
    box-shadow: 0 var(--spacing-0-25x) var(--spacing-0-5x) 0 rgba(21, 29, 50, 0.25);
}

#back-to-sessions p {
    margin: 0;
}