{% macro button(icon_name, label, href, classes) %}
<a class="button {{classes}}" href="{{ href }}" tabindex="1">
    <div class="button-content {% if label -%}button-label-padding{% endif %}">
        <div class="button__icon">
            {% include 'svg/' + icon_name + '.svg' %}
        </div>
        {% if label %}
        <div class="button-label">{{ label }}</div>
        {% endif %}
    </div>
</a>
{% endmacro %}