<h3 class="c-modal__title">
    {% if update %}
        Modification d'une application
    {% else %}
        Ajout d'une application
    {% endif %}
</h3>
<div class="c-modal__close"
    onclick="c_modal__close()">
</div>
