{% if session.type == 'prof' %}
    <div class="row edit-checkbox">
    {% set checkbox_name = "edit" %}
    {% set checked_attr = 'checked'
        if preferences.edition
        else ''
    %}
    {% set create_app_class_disabled = 'c-new-app-button--disabled'
        if not preferences.edition
        else ''
    %}
    {% set checkbox_id = "edit-mode-checkbox" %}
    {% set label_name = "édition" %}
    {% set checkbox_onclick_attr = "edit_mode(this)" %}
    {% include 'widgets/checkbox.html' %}
    </div>
    <div id="edit-form" class="row hidden">
        <button id="launch-app-creation"
                class="c-new-app-button {{ create_app_class_disabled }}"
                onclick="create_app(this, '{{ session_name }}')">
            Ajouter une application
        </button>
    </div>
{% endif %}
