<div id="confirm-delete-app" class="hidden">
    {% set alert_text = "Souhaitez-vous supprimer cette application ?" %}
    {% set alert_type = "warning" %}
    {% include 'widgets/alert.html' %}
</div>
<form id="edit-app-form" class="edit-app__form">
    <input name="id"
           type="hidden"
           data-force="1"
           value="{{ app.id }}">
    {% set detail_id = app.detail_id 
        if app.detail_id 
        else ''
    %}
    <input name="detail_id"
           type="hidden"
           data-force="1"
           value="{{ detail_id }}">
    <input name="is_available"
           type="hidden"
           value="{{ app.is_available }}">

    <div class="row">
        <label class="edit-app__label">Nom</label>
        <input name="name"
               type="text"
               value="{{ app.name }}">
    </div>
    <div class="row">
        <label class="edit-app__label">Nom paquet <strong>
            Debian</strong>
        </label>
        <input name="apt_name"
               type="text"
               onkeyup="restrict_apt(this)"
               pattern="[^A-Za-z0-9].*"
               value="{{ app.apt_name }}">
    </div>
    <div class="row">
        <label class="edit-app__label">
            Commande de lancement commune à toutes les sessions
        </label>
        {% set default_path = app.default_path 
            if app.default_path != None 
            else '' 
        %}
        <input name="default_path"
               type="text"
               value="{{ default_path }}">
    </div>
    <div class="row">
        <label class="edit-app__label">
            Icône commun à toutes les sessions
        </label>
        <input type="file"
            id="default-icon-file"
            onchange="preload(this, 'default-icon-preview', '{{ uuid.default_icon }}', 'default-icon-path')"
            accept="image/png, image/jpeg, image/svg+xml">
        <input type="hidden"
               id="default-icon-path"
               name="default_icon_path"
               data-force="1">
        {% if not app.default_icon_path %}
            {% set class_img = "hidden" %}
        {% endif %}
        {% set src_img = 'static/assets/' ~ app.default_icon_path
            if app.default_icon_path
            else ''
        %}
        <img id="default-icon-preview"
            class="app-details__img {{ class_img }}"
            alt="icône par défaut pour toutes les sessions"
            src="{{ src_img }}" />
    </div>
    <div class="row">
        <label class="edit-app__label">Présent dans</label>
    </div>
    <ul>
        {% set sessions_name=['mini', 'super', 'maxi', 'prof'] %}
        {% set sessions_dict={'mini': 'Jerry', 'super': 'Koda', 'maxi': 'Léon', 'prof': 'Poe'} %}
        {% for session_name in sessions_name %}
            <li class="row">
                {% set checked_attr = 'checked'
                    if app['in_' ~ session_name]
                    else ''
                %}
                <div class="row">
                    {% set checkbox_name = "in_" ~ session_name %}
                    {% set label_name = "la session " ~ sessions_dict[session_name] %}
                    {% set position = "left" %}
                    {% set checkbox_onclick_attr = "app_in_session(this, '" ~ session_name ~ "')" %}
                    {% include 'widgets/checkbox.html' %}
                </div>
                <fieldset
                    {% set class_in_session = '' if app['in_' ~ session_name] else 'hidden' %}
                    class="{{ class_in_session }} edit-app__fieldset"
                    id="{{ session_name }}-fieldset">
                    <div class="row">
                        {% with session_type='{{ session_name }}' %}
                            {% include 'edition/select_menu.html' %}
                        {% endwith %}
                    </div>
                    <div class="row">
                        <label class="edit-app__label">
                            Commande de lancement
                        </label>
                        {% set session_path = app[session_name ~ '_path']
                            if app[session_name ~ '_path'] != None
                            else ''
                        %}
                        <input name="{{ session_name }}_path"
                               type="text"
                               value="{{ session_path }}">
                    </div>
                    <div class="row">
                        <label class="edit-app__label">
                            Icône spécifique à cette session
                        </label>
                        {% set sesion_uuid = uuid[session_name ~ '_icon'] %}
                        {% set img_name = sesion_uuid ~ '.' ~ session_name ~ '_icon' %}
                        {% set preview_name = session_name ~ '-icon-preview' %}
                        {% set input_icon_id = session_name ~ '-icon-path' %}
                        {% set icon_path = app[session_name ~ '_icon_path'] %}
                        <input type="file"
                               onchange="preload(this, '{{ preview_name }}', '{{ img_name }}', '{{ input_icon_id }}')"
                               accept="image/png, image/jpeg, image/svg+xml">
                        <input type="hidden"
                               id="{{ input_icon_id }}"
                               data-force="1"
                               name="{{ session_name ~ '_icon_path' }}">
                        {% if icon_path %}
                            <img id="{{ preview_name }}"
                                 alt="icône par défaut pour la session {{ session_name }}"
                                 class="app-details__img"
                                 src="static/assets/{{ icon_path }}" />
                        {% else %}
                            {% set class_img = "hidden" 
                                if not app.default_icon_path
                            %}
                            {% set src_img = 'static/assets/' ~ app.default_icon_path
                                if app.default_icon_path
                                else ''
                            %}
                            <img id="{{ preview_name }}"
                                 alt="icône par défaut pour la session {{ session_name }}"
                                 class="app-details__img {{ class_img }}"
                                 src="{{ src_img }}" />
                        {% endif %}
                </fieldset>
            </li>
        {% endfor %}
    </ul>
    <div class="row">
        <label>Description</label>
        {% if app.description == None %}
            <textarea name="description"></textarea>
        {% else %}
            <textarea name="description" 
                      value="{{ app.description }}">{{ app.description }}</textarea>
        {% endif %}
    </div>
    <div class="row">
        <label class="edit-app__label">
            Url
        </label>
        {% set app_link = app.link if app.link != None else '' %}
        <input name="link"
               type="text"
               value="{{ app_link }}">
    </div>
    <div class="row">
        <label class="edit-app__label">Licence</label>
        <select name="license" value="{{ app.license }}">
            {% for license in licenses %}
                <option {{ 'selected' if app.license == license else '' }}>
                    {{ license }}
                </option>
            {% endfor %}
        </select>
    </div>
</form>
