.c-yes-app-button,
.c-no-app-button,
.c-new-app-button,
.c-new-app-button--disabled,
.c-update-app-button,
.c-delete-app-button,
.c-install-app-button,
.c-uninstall-app-button,
.c-launch-app-button {
    font-weight: bold;
    color: var(--white);
    position: relative;
}

.c-yes-app-button, .c-new-app-button {
    background: var(--lightGreen);
}

.c-yes-app-button:hover, .c-new-app-button:hover {
    background: var(--green);
}

.c-no-app-button {
    background: var(--lightOrange);
}

.c-no-app-button:hover {
    background: var(--orange);
}

.c-new-app-button, .c-new-app-button--disabled {
    padding-right: 1.5rem;
}

.c-new-app-button--disabled, .c-new-app-button--disabled:hover {
    cursor: default;
    background: var(--silver);
    color: var(--white);
}

.c-new-app-button:after, .c-new-app-button--disabled:after {
    content: "+";
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    right: .5rem;
}

.c-delete-app-button {
    background: var(--lightRed);
    text-indent: .5rem;
}

.c-delete-app-button:hover {
    background: var(--red);
}

.c-delete-app-button:before {
    content: "x";
    top: .2rem;
    left: 0;
    position: absolute;
    font-size: .8rem;
    margin-left: -.2rem;
}

.c-update-app-button {
    background: var(--lightBlue);
}

.c-update-app-button:hover {
    background: var(--blue);
}

.c-update-app-button:before {
    content: "\270e";
}

.c-install-app-button {
    background: var(--lightBlue);
    padding-right: 1.6rem;
}

.c-install-app-button:hover {
    background: var(--blue);
}

.c-install-app-button:after {
    content: "\2b89";
    font-size: 1.3rem;
    bottom: .05rem;
    right: .3rem;
    position: absolute;
}

.c-uninstall-app-button {
    background: var(--lightRed);
    padding-left: 1.8rem;
}

.c-uninstall-app-button:hover {
    background: var(--red);
}

.c-uninstall-app-button:before {
    content: "\2b8b";
    font-size: 1.3rem;
    position: absolute;
    top: .25rem;
    left: .2rem;
}

.c-launch-app-button {
    background: var(--lightOrange);
    padding-right: 1.6rem;
}

.c-launch-app-button:hover {
    background: var(--orange);
}

.c-launch-app-button:after {
    content: "\27b2";
    font-size: 1.3rem;
    bottom: .25rem;
    right: .3rem;
    position: absolute;
}
