#external-url-body {
    margin: 0;
}

iframe {
    display: block;
    background: #000;
    border: none;
    width: 100%;
    height: 100%;
}

.c-back-to-menu {
    top: .5rem;
    left: .5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    font-family: 'Luciole';
    font-size: 3rem;
    background-color: #262E42;
    color: white;
    margin: .5rem;
    padding: .5rem;
    position: fixed;
    z-index: 10000;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
}