div.row, fieldset {
    display: block;
    margin-bottom: .5rem;
}

label, input, textarea {
    font-size: 1.2rem;
}

input {
    border-bottom: solid 1px var(--silver);
}

input:focus {
    border-bottom: solid 1px var(--boldedSilver);
    outline: none;
}

textarea {
    height: 5rem;
    width: 100%;
    display: block;
    border: solid 1px grey;
}

button {
    padding: .5rem;
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.edit-app__fieldset {
    border: solid 1px var(--silver);
    padding: .5rem;
}

.edit-app__label:after {
    content: " : ";
}

.edit-checkbox {
    margin-top: 1rem;
}
