{% if in_depot or app.is_external_url == 1 %}
        <div id="edit-actions" class="c-modal__footer-content">
        {% if is_available and app.is_external_url != 1 and session.type == 'prof' %}
            <div class="left">
                <button class="c-uninstall-app-button" onclick="uninstall_app({{ app.id }});">
                    Désinstaller
                </button>
            </div>
        {% endif %}
        <div class="right">
            {% if is_available %}
                {% if app.is_web_app == 1 %}
                    {% set app_event = "launch_web_app('http://127.0.0.1:5555/primtuxwebapps/" ~ app.default_path ~ "')" %}
                {% else %}
                    {% set app_event = "launch_app('" ~ session.type ~ "', '" ~ app.id ~ "')" %}
                {% endif %}
                <button class="c-launch-app-button" onclick="{{app_event}};">
                    Lancer
                </button>
            {% endif %}
            {% if not is_available and session.type == 'prof' %}
                {% if app.is_external_url == 1 %}
                    {% set app_event = "launch_web_app('./external_url/" ~ app.id ~ "')" %}
                    <button class="c-launch-app-button" onclick="{{app_event}};">
                        Lancer
                    </button>                   
                {% else %}
                    <button class="c-install-app-button" onclick="install_app({{ app.id }});">
                        Installer
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
