{% if not in_depot and app.is_external_url == 0 %}
    {% set alert_text = "Ce logiciel n'est pas présent dans votre dépôt apt." %}
    {% set alert_type = "warning" %}
    {% include 'widgets/alert.html' %}
{% endif %}
<h2 class="app-details__title">
    {% if app.icon_path %}
        <img class="app-details__img"
             src="static/assets/apps/{{ app.icon_path }}">
    {% elif app.default_icon_path %}
        <img class="app-details__img"
             src="static/assets/apps/{{ app.default_icon_path }}">
    {% endif %}
    <span class="app-details__text-title">
        {{ app.name }}
    </span>
</h2>
{% if app.description %}
    <div class="app-details__description">
        {{ app.description|safe }}
    </div>
{% endif %}
<div class="app-details__license-container">
    <label class="label--decoration">
        Licence
    </label>
    <span class="app-details__license">
        {% if app.license %}
            {{ app.license }}
        {% else %}
            non définie
        {% endif %}
    </span>
</div>
{% if app.link %}
    <div class="app-details__link-container">
        <label class="label--decoration">
            Lien de l'éditeur
        </label>
        <a class="app-details__link"
            href="{{ app.link }}"
            target="_blank">
            {{ app.link }}
        </a>
    </div>
{% endif %}
