<div class="apps">
    {% if session_name == 'prof' %}
        <div class="apps__results">
            {% if nb_apps == 1 %}
                {{ nb_apps }} résultat
            {% else %}
                {{ nb_apps }} résultats
            {% endif %}
        </div>
    {% endif %}
    {% if apps is not none and apps|length != 0 %}
        <div class="apps__container">
            {% for app in apps %}
                {% set app_event = "launch_app('" ~ session_name ~ "', " ~ app.id ~ ")" %}
                {% if app.is_web_app == 1 and app.is_external_url == 1 %}
                    {% set app_event = "launch_web_app('./external_url/" ~ app.id ~ "')" %}
                {% elif app.is_web_app == 1 %}
                    {% set app_event = "launch_web_app('http://127.0.0.1:5555/primtuxwebapps/" ~ app.default_path ~ "')" %}
                {% endif %}

                {% if session_name == 'prof' %}
                    {% set app_event = "show_details('" ~ session_name ~ "', " ~ app.id ~ ")" %}
                {% endif %}
                {% include 'app.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
