{% include 'top_bar.html' %}
{% include 'horizontal_categories_menu.html' %}
<div id="apps" class="bg-default">
    <div class="c-app__container c-app__container--child-session">
        {% include 'apps.html' %}
    </div>
    <div id="apps-pagination" class="c-pagination__container bg-default">
        {% include 'pagination.html' %}
    </div>
</div>