<link rel="stylesheet" href="/{{ static/css/modal/style.css }}">
<link rel="stylesheet" href="/{{ static/css/install/style.css }}">
<link rel="stylesheet" href="/{{ static/css/progressbar/style.css }}">
<link rel="stylesheet" href="/{{ static/css/pagination/style.css }}">
<link rel="stylesheet" href="/{{ static/css/selectmenu/style.css }}">
<link rel="stylesheet" href="/{{ static/css/alert/style.css }}">
<link rel="stylesheet" href="/{{ static/css/checkbox/style.css }}">
<link rel="stylesheet" href="/{{ static/css/buttons/style.css }}">
<link rel="stylesheet" href="/{{ static/css/form.css }}">
<link rel="stylesheet" href="/{{ static/css/style.css }}">
<link rel="stylesheet" href="/{{ static/css/design-system-variables.css }}">
<link rel="stylesheet" href="/{{ static/css/design-system-semantic-light.css }}">
<link rel="stylesheet" href="/{{ static/css/design-system-semantic-dark.css }}">
<link rel="stylesheet" href="/{{ static/css/design-system.css }}">

<link rel="stylesheet" href="/{{ static/css/dev/style.css }}">
