<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/external-url.css">

<body id="external-url-body">
    {% include 'widget_back_menu.html' %}
    <iframe
        src="{{ external_url }}"
        frameborder="0"
        allow="fullscreen">
    </iframe>
    <script src="/static/js/external_url.js"></script>
</body>
