{% macro session_link(session, sessionName) %}
    <a class="session-link" href="javascript:open_session('{{ session }}')">
        <div class="menu__icon menu__icon--hug">
            <img src="/static/assets/sessions/{{ session }}.svg"/>
        </div>
        <div class="menu__icon-label menu__icon-label--hug">{{ sessionName }}</div>
    </a>
{% endmacro %}
<html data-theme="dark">
    <head>
        {% include 'head.html' %}
    </head>
    <body class="bg-default index">
        {% include 'top_bar.html' %}
        <div class="session-choice">
            <h1>Quel personnage&nbsp;?</h1>
            <div class="session-choice-card">
                {{ session_link('mini', 'Jerry') }}
                {{ session_link('super', 'Koda') }}
                {{ session_link('maxi', 'Léon') }}
                {{ session_link('prof', 'Poe') }}
            </div>
        </div>
    </div>
    </body>
    {% include 'js.html' %}
</html>