<script src="/static/js/script.0dec3f6d40.js"></script>
<script src="/static/js/modal/script.9cb0f068b3.js"></script>
<script src="/static/js/searchmenu/script.1dbd3a5bf7.js"></script>

<script src="/static/js/lib/socket.io.6aa103d30d.js"></script>
<script src="/static/js/daemon.8ff2c1c13f.js"></script>

{% if session.type == 'prof' %}
    <script src="/static/js/admin/script.252da996a6.js"></script>
    <script src="/static/js/selectmenu/script.00844a0e7c.js"></script>
    <script src="/static/js/admin/upload_img.a38c6aa461.js"></script>
    <!--<script src="/ static/js/admin/install_app.57feb115cf.js"></script>-->
{% endif %}
