{% macro sub_menu(session, menu, menu_url, submenu_url) %}
    {% if menu is not none and menu|length != 0 %}
        <ul class="select-menu">
            {% for entry in menu %}
                {% set entry_url = entry.name|replace("'", "\\'") %}
                <li>
                    <span
                    onclick="c_menu_go_level(0, '{{ menu_url }}', '{{ entry_url }}', '{{ session.type }}')"
                    class="select-menu__sub-item select-menu__sub-item--vertical">
                        {{ entry.name }}
                        <span class="select-menu__nb-apps">
                            {{ entry.nb_apps }}
                        </span>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<!--<label class="select-menu__label label--decoration">
    Recherchez
</label>
-->

<button
    id="select-menu__button"
    class="select-menu__button"
    onclick="open_search(this)"
    >
    <input style="width:0;padding:0;" type="text" id="focus-menu" />
    <span id="select-menu__breadcrum-all-notions">
        {% if session.type == 'prof' %}
            Toutes les applications
        {% else %}
            Toutes les notions
        {% endif %}
    </span>
    <span class="select-menu__breadcrum"
        id="select-menu__breadcrum">
        <span class="select-menu__breadcrum-level hidden"
            id="select-menu__breadcrum-level"
            ></span>
        <span class="select-menu__breadcrum-sub-level hidden"
        id="select-menu__breadcrum-sub-level"></span>
        <span class="select-menu__breadcrum-sub-sub-level hidden"
        id="select-menu__breadcrum-sub-sub-level"></span>
    </span>
    <span class="select-menu__caret"></span>
</button>

<a id="c-search-menu"
     href="javascript:void(0)"
     class="vertical-menu__container"
     onblur="close_search()">
    <ul class="select-menu">
        {% for menu_item in menu %}
            {% set menu_url = menu_item.name|replace("'", "\\'") %}
            <li>
                <span
                onclick="c_menu_go_level(0, '{{ menu_url }}', '', '{{ session.type }}')"
                class="select-menu__item select-menu__item--vertical">
                    {{ menu_item.name }}
                    <span class="select-menu__nb-apps">
                        {{ menu_item.nb_apps }}
                    </span>
                </span>
                {{ sub_menu(session, menu_item.menu, menu_url) }}
            </li>
        {% endfor %}
    </ul>
</a>
