<span>
    Session :
    <input id="edit-prof-session-selected"
           onclick="get_menu('{{ session_name }}', 'prof')"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'prof' %}checked{% endif %}>
    <label for="edit-prof-session-selected">Poe</label>
    <input id="edit-mini-session-selected"
           onclick="get_menu('{{ session_name }}', 'mini')"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'mini' %}checked{% endif %}>
    <label for="edit-mini-session-selected">Jerry</label>
    <input id="edit-super-session-selected"
           onclick="get_menu('{{ session_name }}', 'super')"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'super' %}checked{% endif %}>
    <label for="edit-super-session-selected">Koda</label>
    <input id="edit-maxi-session-selected"
           onclick="get_menu('{{ session_name }}', 'maxi')"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'maxi' %}checked{% endif %}>
    <label for="edit-maxi-session-selected">Léon</label>
</span>
<div id="vertical-menu">
    {% include 'menu.html' %}
</div>
<div>
    Filtrer par applications :
    <input id="edit-show-installed"
           type="radio"
           name="filter"
           onclick="get_menu('{{ session_name }}')"
           {% if preferences.filter_by == 0 %}checked{% endif %}>
    <label for="edit-show-installed">
        installées
    </label>
    <input id="edit-show-not-installed"
           type="radio"
           name="filter"
           onclick="get_menu('{{ session_name }}')"
           {% if preferences.filter_by == 1 %}checked{% endif %}>
    <label for="edit-show-not-installed">
        non installées
    </label>
    <input id="edit-show-both"
           type="radio"
           name="filter"
           onclick="get_menu('{{ session_name }}')"
           {% if preferences.filter_by == 2 %}checked{% endif %}>
    <label for="edit-show-both">
        tous
    </label>
</div>
