{% include 'top_bar.html' %}
<h1>{{ session.name }} ({{ session.cycle }})</h1>
<div class="search">
    {% include 'prof_menu.html' %}
</div>
<div class="edit-mode">
    {% include 'edition/edit.html' %}
</div>
<div class="c-app__container">
    {% include 'apps.html' %}
</div>
<div id="apps-pagination" class="c-pagination__container bg-default">
    {% include 'pagination.html' %}
</div>
<div class="c-modal__mask" onclick="c_modal__close()"></div>
<div id="c-modal" class="c-modal__container c-modal__container--hidden">
    <div class="c-modal__decoration"></div>
    <div class="c-modal__body"></div>
    <div class="c-modal__footer"></div>
</div>
<!--
    {% include 'install_progression.html' %}
-->