<html data-theme="dark">
    <head>
        {% include 'head.html' %}
    </head>
    <body class="{{ session.type }}__session bg-default">
    {% if session.type == 'prof' %}
        {% include 'prof.html' %}
    {% else %}
        {% include 'child.html' %}
    {% endif %}
    </body>
    {% include 'js.html' %}
</html>
