{% from 'widgets/buttons.html' import button %}
<div id="top-bar">
    {% if session.type != 'index' %}
    <a class="session-link session-link--sm" href="javascript:show_hide_back_to_session()" tabindex="1">
        <div class="menu__icon menu__icon--sm">
            <img src="/static/assets/sessions/{{ session.type }}.svg" />
        </div>
        <div class="menu__icon-label menu__icon-label--sm">{{ session.name }}</div>
    </a>
    <div id="back-to-sessions" class="hidden">
        <div class="modal-background" onclick="show_hide_back_to_session()"></div>
        <div class="dialog">
            <p>Retourner à l'écran des sessions&nbsp;?</p>
            <div class="actions">
                {{ button('cancel', 'Annuler', 'javascript:show_hide_back_to_session()', 'button--secondary') }}
                {{ button('logout', 'Quitter', '/logout', '') }}
            </div>
        </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
    {% set toggle_theme = 'javascript:toggle_theme("' + session.type + '")' %}
    {{ button('dark-theme-switch','', toggle_theme, 'button--tertiary dark-switch') }}
    {{ button('light-theme-switch','', toggle_theme, 'button--tertiary light-switch') }}
</div>
<script>
    function show_hide_back_to_session() {
        show_hide(document.getElementById('back-to-sessions'), false)
    }
    // attention, c'est important ici d'utiliser "DOMContentLoaded", et non "load"
    // pour que le thème soit défini suffisament tôt et éviter un effet de flash
    window.addEventListener("DOMContentLoaded", function(){ init_theme("{{ session.type }}"); });
</script>